<body class="accounts_body">

<div class="accountsContainer">

	<div class="cardProfile">
		<h1 style="text-align: center;"><%= current_user.nome %></h1>
		<div class="infos">
			<p style="color: grey;">Studente Ingegneria Informatica</p>
			<div class="divider"></div>
			<p><h5><b>Università</b></h5><p>La Sapienza</p></p>
			<div class="divider"></div>
			<p><h5><b>Matricola</b></h5><p><%= current_user.matricola %></p></p>	
		</div>
	</div>
	
</div>

</body>
